/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
}
.header{
    height: 908px;
    background-color: green;
    background-image: url("pics/images_2/slider_image.jpg");
    width: 1920px;
    height: 908px;
    
}
.title_thick{
    padding-top: 41px;
    padding-left: 61px;
}
.nav{
    float: right;
    margin-top: -76px;
    padding-top: 30px;
    /*margin-left: -253px;*/
}
.nav-header{
    display: flex;
}
li{
    margin-right: 82px;
}
ul a:hover{
    background-color: #ff7202;
    padding: 12px 19px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.image-passion{
    padding-top: 229px;
    padding-left: 223px;
}
h3{
    color: white;
    height: 18px;
}
.click-padding{
    padding-left: 223px;
    padding-top: 51px;
}
.arrow-side{
    padding-left: 1026px;
    padding-top: 46px;
}
div.click-text a:hover{
    background-color: #ff7202;
    padding: 20px 26px;
    border-radius: 20px;
}
.carousel-wrapper{
    padding-left: 1728px;
    padding-top: 59px;
}
aside.left{
    height: 583px;
    background-color: red;
    background-image: url('pics/images_2/image_left.jpg');
    width: 1112px;
    height: 583px;
}
.wrapper-text{
    padding-top: 160px;
    padding-left: 304px;
}
h1.color-change-one{
    color: white;
    font-family: Agency FB;
    font-size: 41px;
    font-weight: lighter;
}
h1.color-change-two{
    color: white;
    font-family: Agency FB;
    font-size: 41px;
    font-weight: lighter;
    padding-top: 15px;
    padding-left: 10px;
}
.wrapping-text{
    padding-top: 49px;
    padding-left: 318px;
}
.practices-one{
    padding-top: 18px;
}
.wrapping-text h2{
    font-family: Agency FB;
    font-weight: lighter;
    color: white;
}
aside.right{
    background-image: url('pics/images_2/image_right.jpg');
    width: 822px; 
    height: 583px;
      
}
.agency h1{
    font-family: Agency FB;
    font-weight: Bold;
    /*width: 123px;*/
    padding-top: 21px;
    
}
.align-images{
    display: flex;
    /*background-image: url("pics/images_2/banner.png");
    width: 823px; 
    height: 125px;*/
}
.two-image{
    background-image: url('pics/images_2/banner.png');
    width: 823px;
    height: 125px;
}
/*.ready{
    padding-top: 51px;
}*/
.begin{
    padding-top: 41px;
}
.begin .ready{
    color: #ff7101;
}
.premiere .test-one{
    font-family: Century Gothic;
    color: #7995c2;
    font-weight: lighter;
    font-size: 27px;
}
.section_two{
    display: flex;
}
.wrap-custom{
    padding-top: 190px;
    padding-left: 210px;
}
.come_work{
    color: #ff7101;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 39px;
}
.section_three{
    height: 320px;
    background-color: violet;
    
}
.section_four{
    height: 837px;
    background-color: #ebdbd7;
}
.web-space{
    padding-top: 330px;
    padding-left: 280px;
}
.web-development h1{
    font-family: Copperplate Gothic;
    font-size: 45px;
    font-weight: lighter;
    color: #146bfc;
    
}
.premiere .test-one{
    padding-top: 38px;
    padding-left: 244px;
}
.premiere .test-two{
    padding-left: 285px;
    font-family: Century Gothic;
    font-weight: lighter;
    color: #7995c2;
}
.premiere .test-three{
    padding-left: 365px;
    font-family: Century Gothic;
    font-weight: lighter;
    color: #7995c2;
}
.wrap-image-circle{
    float: right;
    margin-top: -45px;
    /* visibility: visible; */
    position: relative;
}
.wrap-circle-two{
    margin-top: -296px;
    margin-left: 1137px;
}
.image-spacing{
    margin-top: -194px;
}
/*.wrap-circle-two{
    float: right;
    margin-right: 384px;
    margin-top: -298px;
}*/
.wraps-three{
    float: right;
    margin-right: 306px;
    margin-bottom: 65px;
}
.wrap-fourth{
    float: right;
    margin-top: 146px;
    margin-right: 104px;
}
.wrap-fifth{
    float: right;
    margin-top: 95px;
    margin-right: 161px;
}
.image-one{
    padding-right: 50px;
    /*background-image: url('pics/images_2/right_arrow.png');
    width: 9px;*/
  /*  background-image: url(pics/images_2/right_arrow.png);*/
  /*  background-repeat: repeat-x;*/
    /*height: 78px; */
}
/*.image-left{
    background-image: url('pics/images_2/right_arrow.png');
    width: 9px;
}*/
.left{
    background-image: url('pics/images_2/right_arrow.png');
    width: 79px;
    height: 78px;
    background-repeat: repeat-x;
}
.carousel-point{
    margin-top: 128px;
    margin-left: 41px;
}
.right{
    background-image: url('pics/images_2/slide_left.png');
    width: 74px; 
    height: 76px;
}
.carousel-writtings{
    float: right;
    margin-left: -90px;
    /*margin-right: 20px;*/
    margin-top: 148px;
}
.imaging-one{
    margin-left: -116px;
    mix-blend-mode: color-burn;
}
.two{
    margin-left: 68px;
}
.three{
    margin-left: 72px;
}
.four{
    margin-left: 90px;
}
.image-two{
    padding-right: 50px;
}
.image-three{
    padding-right: 50px;
}
.section_five{
    height: 400px;
    background-color: #f6f3f2;
}
.wrap-content{
    display: flex;
    padding-top: 36px;
}
.section_six{
    height: 625px;
    background-color: crimson;
}
.section_seven{
    height: 625px;
    background-color: brown;
}
.section_eight{
    height: 338px;
    background-color: black;
}
.section_nine{
    height: 64px;
    background-color: cyan;
}

